body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-background {
  background-color: #f7f7f7;
}


.MuiCard-root {
  height: 200px !important;
  border-radius: 8px !important;
  width: 20vw !important;
}

.css-17yh78r-MuiGrid2-root {

  justify-content: center !important;
  display: flex !important;

}

.css-15a4uk6-MuiPaper-root-MuiCard-root {
  min-width: 100px !important;
  max-width: 300px !important;
  
}

.css-4q6p23-MuiGrid2-root {
  
  display: flex !important;
  justify-content: space-between !important;
}

